<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ama Tu Salud</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>Add A Prescription</h1>
      <nav>
        <ul>
          <li>
            <a href="/medications"><button>PREV PAGE</button></a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/medications" method="POST">
        Name: <input type="text" name="name" /><br>
        Dose: <input type="text" name="dose" /><br>
        Instructions: <input type="text" name="inst" /><br>
        <input type="submit" name="" value="Add Prescription" />
      </form>
    </main>
  </div>
</body>
</html>
