<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ama Tu Salud</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>Edit <%= sugr.date %> Reading</h1>
      <nav>
        <ul>
          <li>
            <a href="/bloodsugar/<%=sugr._id%>"><button>PREV PAGE</button></a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/bloodsugar/<%=sugr._id%>?_method=PUT" method="POST">
        Date: <input type="datetime-local" name="date" value="<%sugr.date%>" /><br>
        Level: <input type="number" name="level" value="<%sugr.level%>" /><br>
        Tags: <input type="text" name="tags" value="<%sugr.tags%>" /><br>
        <input type="submit" name="" value="Submit Changes" />
      </form>
    </main>
  </div>
</body>
</html>
